/*----   Login   ----*/
body
{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;	
	margin: 0px;
	padding: 0px;
	border:0px;
	font-family: Arial, Helvetica, sans-serif;
	background-color:White;
	color:#000000;
	font-size:12px;
}
input
{
	border: solid 1px #3d93c1;
	background-color: #ffffff;
	height: 22px;
}
td
{
	font-family: 宋体,Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

a
{
	text-decoration: none;
	color: blue;
}
a:hover
{
	text-decoration: none;
	color: blue;
}
#divLogin
{
	width: 772px;
}

#divLogin div.divbg
{
	width:772px;
	height: 460px;
	background: url(../images/index_bg.jpg) no-repeat center top;
	float: left;
	text-align: center;
}
#divLogin div.divcenter
{
	width: 770px;
	text-align: left;
	float: left;
	padding: 70px 0px 0px 0px;
}


#divLogin div.divcenter .right
{
	color: #31484f;
	text-align: left;
	line-height: 25px;
	padding:100px 0px 0px 0px;
	width: 770px;
	float: right;
}
#divLogin div.divcenter .right .sss
{
	
	text-align: left;
	height: 15px;	
	width: 40px;
	float: left;
	background: url(../images/sss.jpg) no-repeat left top;	
	border:0px;
	
}
 input.Button,input.Button,input.ButtonBig,.button,input.Button_Hover, input.Button_Over{
	font-family:宋体, Arial;
	font-size: 9pt;
	height: 25px;
	background: url(../images/button_index.jpg) no-repeat center center;	
	width:62px;
	color: #000000;	
	border:0px;
	cursor: hand;
	font-weight:bold;
	text-align:center;
}
#divLogin div.bottom
{
	width: 772px;
	height: 29px;
	text-align: center;
	line-height:50px;
	 padding-top:115px;
	vertical-align:bottom;
	color:White;
	}
