<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="Tlw_ZPG_Context" connectionString="Data Source=.;Initial Catalog=Teleware.ZPG;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SMS_FrozenAccount" value="您申请的竞买号{applyNumber}（交易宗地号{landNumber}）已被管理员冻结。【福建省招拍挂】"/>
    <add key="SMS_GrantApplyNumber" value="您申请的宗地{landNumber}已发放竞买号，竞买号为{applyNumber}。【福建省招拍挂】"/>
    <add key="SMS_ResetPassword" value="您的竞买号{applyNumber}密码重置成功，当前密码为：{password}。【福建省招拍挂】"/>
    <add key="SMS_VerifyApply" value="您的竞买申请已审核，审核状态为{verifyStatus}。【福建省招拍挂】"/>
    <add key="SMS_LossApplyNumber" value="您申请的竞买号{applyNumber}已被管理员挂失。【福建省招拍挂】"/>
    <add key="SMS_RecoverApplyNumber" value="您申请的竞买号{applyNumber}已被管理员解冻。【福建省招拍挂】"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc">
    </sessionState>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>